{include file="public/header" /}
<body>
    <div class="head">
        <span>首页面板</span>
        <strong id="time"></strong>
        <hr>
    </div>
    <table class="layui-table">
        <tr>
            <td>系统版本：</td>
            <td>{$Think.server.systemroot}</td>
        </tr>
        <tr>
            <td>服务器信息：</td>
            <td>{$Think.server.server_software}</td>
        </tr>
        <tr>
            <td>网站名称：</td>
            <td>{$Think.server.http_host}</td>
        </tr>
        <tr>
            <td>ThinkPHP版本：</td>
            <td>5.0.24</td>
        </tr>
        <tr>
            <td>PHP版本：</td>
            <td>7.3.4</td>
        </tr>
        <tr>
            <td>数据库信息</td>
            <td>Mysql</td>
        </tr>
    </table>

    {include file="public/base_js" /}
    <script type="text/javascript">
        function time() {
            var weeks = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var week = date.getDay();
            document.getElementById('time').innerHTML = year + '年' + month + '月' + day + '日' + '\t' + hours + '时' + minutes + '分' + seconds + '秒' + '\t' + weeks[week];
        };
    
        setInterval('time()', 1000);
    </script>
</body>
</html>