<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老博博客</title>
    {load file="__STATIC__/admin/layui/css/layui.css" /}
    {load file="__STATIC__/admin/css/admin/admin.css" /}
    {load file="__STATIC__/admin/css/article/article.css" /}
    {load file="__STATIC__/admin/css/article/add.css" /}
    {load file="__STATIC__/admin/css/index/index.css" /}
    {load file="__STATIC__/admin/css/index/home.css" /}
    {load file="__STATIC__/admin/css/login/login.css" /}
    {load file="__STATIC__/admin/css/system/system.css" /}
</head>