{include file="public/header" /}
<body>
    <form class="layui-form">
        <input type="hidden" name="id" value="{$article.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" value="{$article.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
                <select name="catename">
                    <option value="0">选择分类</option>
                    {volist name="category" id="vo"}
                    <option value="{$vo.id}" <?php if($article['cate_id'] == $vo['id']) {echo 'selected';} ?>>{$vo.catename}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章热度</label>
            <div class="layui-input-block">
                <input type="text" name="heat" class="layui-input" value="{$article.heat}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章图片</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="upload" onclick="return false;">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <img src="{$article.img}" id="pre_img">
                <input type="hidden" name="img" value="{$article.img}">
            </div>
        </div>
        <div class="layui-form-item sub">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea name="content" id="content" rows="30" cols="10">{$article.content}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" onclick="save()">保存</button>
            </div>
        </div>
    </form>

    {include file="public/base_js" /}
    <script type="text/javascript">
        layui.use(['form', 'layer', 'upload'], function () {
            var form = layui.form,
                layer = layui.layer,
                upload = layui.upload;
            $ = layui.jquery;
    
            var uploadInst = upload.render({
                elem: '#upload' //绑定元素
                ,url: 'upload.html' //上传接口
                ,accept: 'images'
                ,done: function(res){
                    //上传完毕回调
                    $('#pre_img').attr('src', res.message);
                    $('input[name="img"]').val(res.message);
                }
                ,error: function(){
                    //请求异常回调
                }
            });
        });
        
        var ue = UE.getEditor('content', {
            initialFrameWidth: 1000,
            initialFrameHeight: 256,
            elementPathEnabled: false
        })
        
        function save() {
            var title = $('input[name="title"]').val();
            var catename = $('select[name="catename"]').val();
            var img = $('input[name="img"]').val();
            var desc = $('input[name="desc"]').val();
            var content = $('textarea[name="content"]').val();
            
            if (title == '') {
                layer.msg('文章标题不能为空', {icon: 2, anim: 6});
                return false;
            }
            if (catename == '') {
                layer.msg('分类名称不能为空', {icon: 2, anim: 6});
                return false;
            }
            if (img == '') {
                layer.msg('文章图片不能为空', {icon: 2, anim: 6});
                return false;
            }
            if (desc == '') {
                layer.msg('文章描述不能为空', {icon: 2, anim: 6});
                return false;
            }
            if (content == '') {
                layer.msg('文章内容不能为空', {icon: 2, anim: 6});
                return false;
            }
            
            $.post('{:url("save")}', $('form').serialize(), function (res) {
                if (res.status == 1) {
                    layer.msg(res.message, {icon: 1, anim: 6});
                    setTimeout(function () {
                        parent.window.location.reload();
                    }, 1000);
                } else {
                    layer.msg(res.message, {icon: 2, anim: 6});
                }
            }, 'json');
        }
    </script>
</body>
</html>